.work-section-header h1 {
  text-align: center;
  font-size: 36px;
  margin: 0vh 25vw;
  font-size: 24px;
  z-index: 10;
}

@media screen and (max-width: 822px) {
  .work-section-header h1 {
    width: 30vw !important;
    font-size: 20px !important;
  }
}

.work-section {
  z-index: 10;
}