.carousel {
  position: absolute;
  width: 80vw;

  bottom: 20vh;
  left: 10vw;
  right: auto;
  z-index: 10;
}
.card-title {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 30px 30px;
  z-index: 20;
}

.arrow-container {
  width: 100vw;
  position: absolute;
  left: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.label {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  width: 605.5px;
  height: 120px;
  left: 28.5rem;
  top: 49vh;
  bottom: 0px;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}
.label h4 {
  font-size: 32px;
}

@media screen and (max-width: 820px) {
  .carousel-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px;
    width: 20vw;
    position: absolute;
    transform: scale(0.3);
    left: 28vw;
    top: -150vh;
  }
  .arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    position: absolute;
    left: 66vw;
    top: -50vh;
  }
  .label {
    position: absolute;
    left: -92vw;
    top: 146vh;
  }
  .arrow-left {
    transform: rotateX(20deg) !important;
  }
}
